<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Feedback Form</title>
  {% include 'medi_app/common/common_css.html' %}
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: sans-serif;
      /* Apply background image */
      background: url("{% static 'medi_app/images/l.jpeg' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
<html>
<head>
    <title>Password Reset Sent</title>
</head>
<body>
  <p>If an account with that email address exists, we have emailed you a link to reset your password.</p>
</body>
</html>
