
html,body{

    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: red;


}

.main-div{

    flex:1;
    /* flex-shrink:1;
    flex-grow: 1; */


}
.myform{
    justify-content: center;
    margin: auto;
       

}
.text-center{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    margin:auto;


}
.nav-link{



  color:black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-item{
  color:blueviolet;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}





